<!-- Navbar Area -->
<div
    class="navbar-area"
    [ngClass]="{'navbar-style-two': router.url === '/index-2' || router.url === '/index-3', 'sticky': isSticky}"
>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" [class.active]="classApplied">
            <a class="navbar-brand" routerLink="/index-2">
                <img src="assets/images/gallery/aisaLogo.png" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" (click)="toggleClass()">
                <span class="burger-menu">
                    <span class="top-bar"></span>
                    <span class="middle-bar"></span>
                    <span class="bottom-bar"></span>
                </span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <!-- <a href="javascript:void(0)" class="dropdown-toggle nav-link">
                            home
                        </a> -->
                        <a routerLink="/index-2" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            Inicio
                        </a>
                        <!-- <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a routerLink="/" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    home Demo - 1
                                </a>
                            </li>
                            <li class="nav-item">
                                
                            </li>
                            <li class="nav-item">
                                <a routerLink="/index-3" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    home Demo - 3
                                </a>
                            </li>
                        </ul> -->
                    </li>
                    <li class="nav-item">
                        <a routerLink="/about" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            Nosotros
                        </a>
                    </li>
                    <!-- <li class="nav-item">
                        <a href="javascript:void(0)" class="dropdown-toggle nav-link">
                            Pages
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a routerLink="/testimonials" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Testimonials
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/faq" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    FAQ
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/appointment" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Book an Appointment
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0)" class="dropdown-toggle nav-link">
                                    Team
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a routerLink="/team" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                            Team
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a routerLink="/team-details" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                            Team Details
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0)" class="dropdown-toggle nav-link">
                                    Pricing
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a routerLink="/pricing" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                            Pricing Style One
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a routerLink="/pricing-2" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                            Pricing Style Two
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0)" class="dropdown-toggle nav-link">
                                    Gallery
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a routerLink="/gallery" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                            Gallery Style One
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a routerLink="/gallery-2" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                            Gallery Style Two
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/profile-authentication" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Login/Register
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/forgot-password" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Forgot Password
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/privacy-policy" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Privacy Policy
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/terms-conditions" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Terms & Conditions
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/not-found" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    404 Error Page
                                </a>
                            </li>
                        </ul>
                    </li> -->
                    <li class="nav-item">
                        <!-- <a href="javascript:void(0)" class="dropdown-toggle nav-link">
                            Servicios
                        </a> -->
                        <a routerLink="/services" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            Servicios
                        </a>
                        <!-- <ul class="dropdown-menu">
                            <li class="nav-item">
                                
                            </li>
                            <li class="nav-item">
                                <a routerLink="/services-2" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Services Style Two
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/service-details" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Service Details
                                </a>
                            </li>
                        </ul> -->
                    </li>
                    <!-- <li class="nav-item">
                        <a href="javascript:void(0)" class="dropdown-toggle nav-link">
                            Shop
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a routerLink="/shop" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Shop
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/product/nail-polish-removers" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Product Details
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/cart" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Cart
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/checkout" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Checkout
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/wishlist" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Wishlist
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/tracking-order" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Tracking Order
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/compare" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Compare
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/customer-service" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Customer Service
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/profile-authentication" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    My Account
                                </a>
                            </li>
                        </ul>
                    </li> -->
                    <!-- <li class="nav-item">
                        <a href="javascript:void(0)" class="dropdown-toggle nav-link">
                            Blog
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a routerLink="/blog-grid" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Blog Grid
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/blog-left-sidebar" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Blog Left Sidebar
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/blog-right-sidebar" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Blog Right Sidebar
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/blog-details" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Blog Details
                                </a>
                            </li>
                        </ul>
                    </li> -->
                    <li class="nav-item">
                        <a routerLink="/contact" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            Contacto
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav for-responsive">
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="dropdown-toggle nav-link">
                            Inicio
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a routerLink="/" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">
                                    home Demo - 1
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/index-2" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">
                                    home Demo - 2
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/index-3" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">
                                    home Demo - 3
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/about" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">
                            About Us
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="dropdown-toggle nav-link">
                            Pages
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a routerLink="/testimonials" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">
                                    Testimonials
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/faq" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">
                                    FAQ
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/appointment" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">
                                    Book an Appointment
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0)" class="dropdown-toggle nav-link">
                                    Team
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a routerLink="/team" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">
                                            Team
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a routerLink="/team-details" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">
                                            Team Details
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0)" class="dropdown-toggle nav-link">
                                    Pricing
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a routerLink="/pricing" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">
                                            Pricing Style One
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a routerLink="/pricing-2" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">
                                            Pricing Style Two
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0)" class="dropdown-toggle nav-link">
                                    Gallery
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a routerLink="/gallery" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">
                                            Gallery Style One
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a routerLink="/gallery-2" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">
                                            Gallery Style Two
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/profile-authentication" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">
                                    Login/Register
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/forgot-password" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">
                                    Forgot Password
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/privacy-policy" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">
                                    Privacy Policy
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/terms-conditions" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">
                                    Terms & Conditions
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/not-found" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">
                                    404 Error Page
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="dropdown-toggle nav-link">
                            Services
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a routerLink="/services" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">
                                    Servicios
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/services-2" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">
                                    Services Style Two
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/service-details" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">
                                    Service Details
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="dropdown-toggle nav-link">
                            Shop
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a routerLink="/shop" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">
                                    Shop
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/product/nail-polish-removers" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">
                                    Product Details
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/cart" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">
                                    Cart
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/checkout" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">
                                    Checkout
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/wishlist" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">
                                    Wishlist
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/tracking-order" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">
                                    Tracking Order
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/compare" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">
                                    Compare
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/customer-service" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">
                                    Customer Service
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/profile-authentication" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">
                                    My Account
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="dropdown-toggle nav-link">
                            Blog
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a routerLink="/blog-grid" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">
                                    Blog Grid
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/blog-left-sidebar" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">
                                    Blog Left Sidebar
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/blog-right-sidebar" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">
                                    Blog Right Sidebar
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/blog-details" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">
                                    Blog Details
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/contact" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleClass()">
                            Contact Us
                        </a>
                    </li>
                </ul>
                <div class="others-option d-flex align-items-center">
                    <div class="option-item">
                        <div class="search-btn" (click)="searchToggleClass()">
                            <i class="flaticon-035-magnifying-glass"></i>
                        </div>
                    </div>
                    <!-- <div class="option-item">
                        <a routerLink="/cart" class="cart-btn">
                            <i class="flaticon-034-shopping-cart"></i><span>{{cartProducts.length}}</span>
                        </a>
                    </div> -->
                    <div class="option-item">
                        <span class="burger-menu" (click)="switcherToggleClass()">
                            <span class="top-bar"></span>
                            <span class="middle-bar"></span>
                            <span class="bottom-bar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>

<!-- Search Overlay -->
<div class="search-overlay" [class.search-overlay-active]="searchClassApplied">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="search-overlay-layer"></div>
            <div class="search-overlay-layer"></div>
            <div class="search-overlay-layer"></div>
            <div class="search-overlay-close" (click)="searchToggleClass()">
                <span class="search-overlay-close-line"></span>
                <span class="search-overlay-close-line"></span>
            </div>
            <div class="search-overlay-form">
                <form>
                    <input type="text" class="input-search" placeholder="Enter your keywords...">
                    <button type="submit"><i class="flaticon-035-magnifying-glass"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Sidebar Modal -->
<div class="sidebarModal" [class.active]="switcherClassApplied">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" (click)="switcherToggleClass()">
                <i class='flaticon-036-close'></i>
            </button>
            <div class="modal-body">
                <div class="logo">
                    <a routerLink="/" class="d-inline-block">
                        <img src="assets/images/gallery/aisaLogo.png" alt="image">
                    </a>
                </div>
                <div class="instagram-list">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                            <div class="box">
                                <img src="assets/images/gallery/gallery-img1.jpg" alt="instagram" />
                                <i class='flaticon-002-instagram'></i>
                                <a href="#" target="_blank" class="link-btn"></a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                            <div class="box">
                                <img src="assets/images/gallery/gallery-img2.jpg" alt="instagram" />
                                <i class='flaticon-002-instagram'></i>
                                <a href="#" target="_blank" class="link-btn"></a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                            <div class="box">
                                <img src="assets/images/gallery/gallery-img3.jpg" alt="instagram" />
                                <i class='flaticon-002-instagram'></i>
                                <a href="#" target="_blank" class="link-btn"></a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                            <div class="box">
                                <img src="assets/images/gallery/gallery-img4.jpg" alt="instagram" />
                                <i class='flaticon-002-instagram'></i>
                                <a href="#" target="_blank" class="link-btn"></a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                            <div class="box">
                                <img src="assets/images/gallery/gallery-img5.jpg" alt="instagram" />
                                <i class='flaticon-002-instagram'></i>
                                <a href="#" target="_blank" class="link-btn"></a>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-6">
                            <div class="box">
                                <img src="assets/images/gallery/gallery-img6.jpg" alt="instagram" />
                                <i class='flaticon-002-instagram'></i>
                                <a href="#" target="_blank" class="link-btn"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar-contact-info">
                    <h2>
                        <a href="tel:+11234567890">+1 (123) 456 7890</a>
                        <span>OR</span>
                        <a href="mailto:hello@ohix.com">aisa@gmail.com</a>
                    </h2>
                </div>
                <ul class="social-list">
                    <li>
                        <a href="https://www.facebook.com/" target="_blank">
                            <i class="ri-facebook-fill"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/" target="_blank">
                            <i class="ri-twitter-fill"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/" target="_blank">
                            <i class="ri-linkedin-fill"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://vimeo.com/" target="_blank">
                            <i class="ri-vimeo-fill"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>