<!-- Inner Banner -->
<div class="inner-banner">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-8">
                <div class="inner-title">
                    <h2>Compare</h2>
                    <ul>
                        <li>
                            <a routerLink="/">Home</a>
                        </li>
                        <li>Compare</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5 col-md-4">
                <div class="inner-img">
                    <img src="assets/images/inner-banner/inner-banner11.png" alt="inner-banner" />
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Compare -->
<div class="compare-area ptb-100">
    <div class="container">
        <div class="compare-wrap">
            <form>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">
                                    PRODUCTS
                                </th>
                                <th scope="col">
                                    <a routerLink="/product-details" class="d-block img">
                                        <img src="assets/images/products/product-img1.png" alt="product-image" />
                                    </a>
                                    <h3><a routerLink="/product-details">
                                        Nail Polish Removers
                                    </a></h3>
                                </th>
                                <th scope="col">
                                    <a routerLink="/product-details" class="d-block img">
                                        <img src="assets/images/products/product-img10.png" alt="product-image" />
                                    </a>
                                    <h3><a routerLink="/product-details">
                                        Nail Care Tools Premium
                                    </a></h3>
                                </th>
                                <th scope="col">
                                    <a routerLink="/product-details" class="d-block img">
                                        <img src="assets/images/products/product-img3.png" alt="product-image" />
                                    </a>
                                    <h3><a routerLink="/product-details">
                                        Nail Nourishing Oil
                                    </a></h3>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Brand</td>
                                <td>ColourPop</td>
                                <td>Glossier</td>
                                <td>Pixi Beauty</td>
                            </tr>
                            <tr>
                                <td>AVAILABILITY</td>
                                <td>In Stock</td>
                                <td>In Stock</td>
                                <td>In Stock</td>
                            </tr>
                            <tr>
                                <td>Overall Rank</td>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>VENDOR</td>
                                <td>Lacoste</td>
                                <td>Lacoste</td>
                                <td>Lacoste</td>
                            </tr>
                            <tr>
                                <td>Skin Care</td>
                                <td>99%</td>
                                <td>85%</td>
                                <td>99%</td>
                            </tr>
                            <tr>
                                <td>Price</td>
                                <td>$20</td>
                                <td>$28</td>
                                <td>$30</td>
                            </tr>
                            <tr>
                                <td>BARCODE</td>
                                <td>1234567890</td>
                                <td>1234567890</td>
                                <td>1234567890</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>