<!-- Inner Banner -->
<div class="inner-banner">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-8">
                <div class="inner-title">
                    <h2>Mi Cuenta</h2>
                    <ul>
                        <li>
                            <a routerLink="/">Inicio</a>
                        </li>
                        <li>Mi Cuenta</li>
                    </ul>
                </div>
            </div>
            <!-- <div class="col-lg-5 col-md-4">
                <div class="inner-img">
                    <img src="assets/images/inner-banner/inner-banner11.png" alt="inner-banner" />
                </div>
            </div> -->
        </div>
    </div>
</div>

<!-- Profile Authentication -->
<div class="profile-authentication-area ptb-100">
    <div class="container">
        <div class="row" style="justify-content: center;">
            <div class="col-lg-6 col-md-12">
                <div class="login-form">
                    <h2 style="text-align: center; margin-bottom: 0%;">Bienvenido</h2>
                    <p style="text-align: center; margin-bottom: 8%;">Ingresa tus datos para <span style="font-weight: bold;">iniciar sesión.</span></p>
                    <form [formGroup]="formLogin" (ngSubmit)="mandarFormulario()">
                        <div class="form-group">
                            <!--<label>Usuario</label>-->
                            <input type="text" formControlName="userName" class="form-control" placeholder="Usuario">
                            <div *ngIf="formLogin.get('userName')?.invalid && formLogin.get('userName')?.touched" class="text-danger">
                                <span style="font-style: italic;">Ingresa tu usuario</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <!--<label>Contraseña</label>-->
                            <input type="password" formControlName="password" class="form-control" placeholder="Contraseña">
                            <div *ngIf="formLogin.get('password')?.invalid && formLogin.get('password')?.touched" class="text-danger">
                                <span style="font-style: italic;">Ingresa tu contraseña</span>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-6 remember-me-wrap">
                                <div class="form-check">
                                    <!-- <input class="form-check-input" type="checkbox" id="remember-me"> -->
                                    <!-- <label class="form-check-label" for="remember-me">Remember me</label> -->
                                </div>
                            </div>
                            <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-6 lost-your-password-wrap">
                                <a routerLink="/forgot-password" class="lost-your-password">Forgot your password?</a>
                            </div> -->
                        </div>
                        <button type="submit" style="width: 50%; display: block; margin: 0 auto;">Ingresar</button>
                    </form>
                </div>
            </div>
            <!-- <div class="col-lg-6 col-md-12">
                <div class="register-form">
                    <h2>Register</h2>
                    <form>
                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" class="form-control" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" placeholder="Password">
                        </div>
                        <p class="description">The password should be at least eight characters long. To make it stronger, use upper and lower case letters, numbers, and symbols like ! " ? $ % ^ & )</p>
                        <button type="submit">Register</button>
                    </form>
                </div>
            </div> -->
        </div>
    </div>
</div>