<!-- Inner Banner -->
<div class="inner-banner">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-8">
                <div class="inner-title">
                    <h2>{{categoria}}</h2>
                    <ul>
                        <li>
                            <a routerLink="/">Inicio</a>
                        </li>
                        <li>Servicios</li>
                        <li>{{categoria}}</li>
                        <li>{{tratamiento}}</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5 col-md-4">
                <div class="inner-img">
                    <img src="assets/images/inner-banner/inner-banner4.png" alt="inner-banner" />
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Service Details -->
<div class="service-details-area pt-100 pb-75">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="sidebar-area">
                    <ul *ngFor="let producto of datosProducto" class="services-catagory" style="cursor: pointer;" >
                        <li>
                            <a  (click)="filtrarCategoria(producto.id)">
                                {{producto.name}}
                                <i class="ri-arrow-right-s-line"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="sidebar-widget">
                        <h3>{{categoria}}</h3>
                        <p>Visualiza nuestros Servicios {{categoria}} con su descripción y <span style="font-weight: bold;">precio</span>.</p>
                        <button class="default-btn" type="button">
                            ¡Descarga el PDF!
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="service-details-content">
                    <!--<div class="service-preview-img">
                        <img src="assets/images/services/services-details.jpg" alt="service-details" />
                    </div>-->
                    <ng-container *ngIf="tratamiento; else noService">
                        <h1 style="text-align: center;">{{tratamiento}}</h1>
                        <p style="text-align: center;">{{description}}</p>
                        <div class="row">
                            <div class="col-6">
                                <div class="service-preview-img">
                                    <img src="assets/images/services/{{img1}}" alt="550x410" />
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="service-preview-img">
                                    <img src="assets/images/services/{{img2}}" alt="550x410" />
                                </div>
                            </div>
                        </div>
                        <p style="margin: 2rem;">{{information}}</p>
                        <p style="text-align: right; font-size: 2.5rem;">{{price | currency:'MXN' }}</p>
                    </ng-container>
                    <ng-template #noService>
                        <p style="text-align: center;">Para ver los detalles, <span style="font-weight: bold;">seleccione un servicio.</span></p>
                    </ng-template>
                    <!--<h3>Sobre este servicio</h3>-->
                    <!--<p>Voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,</p>
                    <p>Voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi </p>-->
                </div>
            </div>
        </div>
    </div>
</div>