<!-- Inner Banner -->
<div class="inner-banner">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-8">
                <div class="inner-title">
                    <h2>Service Details</h2>
                    <ul>
                        <li>
                            <a routerLink="/">Home</a>
                        </li>
                        <li>Service Details</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5 col-md-4">
                <div class="inner-img">
                    <img src="assets/images/inner-banner/inner-banner4.png" alt="inner-banner" />
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Service Details -->
<div class="service-details-area pt-100 pb-75">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="sidebar-area">
                    <ul class="services-catagory">
                        <li>
                            <a routerLink="/service-details">
                                Classic Nail Pedicure
                                <i class="ri-arrow-right-s-line"></i>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/service-details">
                                Paraffin For Nail Hands
                                <i class="ri-arrow-right-s-line"></i>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/service-details">
                                Deep Paraffin Waxing
                                <i class="ri-arrow-right-s-line"></i>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/service-details">
                                Art Nail & Effects
                                <i class="ri-arrow-right-s-line"></i>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/service-details">
                                Glitter For Nail Art
                                <i class="ri-arrow-right-s-line"></i>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/service-details">
                                Classic Nail Manicure
                                <i class="ri-arrow-right-s-line"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="sidebar-widget">
                        <h3>Our Brochure</h3>
                        <p>Alienum phaedrum torquatos nec eu vis detra peri culis ex nihil is in mei. Mei an pericula hincar tem ei est Alienum phae</p>
                        <button class="default-btn" type="button">
                            Download PDF Now!
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="service-details-content">
                    <div class="service-preview-img">
                        <img src="assets/images/services/services-details.jpg" alt="service-details" />
                    </div>
                    <h3>Happy Hands Nail Polish And Exclusive Collection</h3>
                    <p>Voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,</p>
                    <p>Voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi </p>
                    <div class="row">
                        <div class="col-6">
                            <div class="service-preview-img">
                                <img src="assets/images/services/services-img10.jpg" alt="service-details" />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="service-preview-img">
                                <img src="assets/images/services/services-img15.jpg" alt="service-details" />
                            </div>
                        </div>
                    </div>
                    <h3>About This Service</h3>
                    <p>Voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,</p>
                    <p>Voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi </p>
                </div>
            </div>
        </div>
    </div>
</div>