<!-- Inner Banner -->
<!-- <div class="inner-banner">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-8">
                <div class="inner-title">
                    <h2>Wishlist</h2>
                    <ul>
                        <li>
                            <a routerLink="/">home</a>
                        </li>
                        <li>Wishlist</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5 col-md-4">
                <div class="inner-img">
                    <img src="assets/images/inner-banner/inner-banner9.png" alt="inner-banner" />
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- Wishlist -->
<div class="wishlist-area ptb-100">
    <div class="container">
        <h1 style="margin-bottom: 2.5rem; text-align: center;">Servicios</h1>
        <form>
            <div class="wishlist-table table-responsive" >
                <table class="table table-bordered">
                    <thead class="thead-fixed">
                        <tr>
                            <th scope="col" style="background: #f2f6f9;">Imagen</th>
                            <th scope="col" style="background: #f2f6f9;">Nombre</th>
                            <th scope="col" style="background: #f2f6f9;">Categoría</th>
                            <th scope="col" style="background: #f2f6f9;">Precio</th>
                            <th scope="col" style="background: #f2f6f9;">Acción</th>
                        </tr>
                    </thead>
                   
                    <tbody>
                        <tr *ngFor="let servicio of servicios">
                            <td class="product-thumbnail">
                                <a routerLink="/product-details">
                                    <img [src]="servicio.img" alt="product-image">
                                </a>
                            </td>
                            <td>{{servicio.name}}</td>
                            <td>{{servicio.category}}</td>
                            <td>{{servicio.price | currency:'MXN':'symbol':'1.2-2'}}</td>
                            <td>
                                <a routerLink="/formulario/{{servicio.id}}" class="default-btn2 with-icon" style="margin-right: 8px; border-radius: 10rem;">
                                    Editar <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                                <a (click)="onSubmit(servicio)" class="default-btn3 with-icon" style="border-radius: 10rem;">
                                    Eliminar <i class="fa-solid fa-delete-left"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
        <div style="margin: 2rem 1rem;">
            <a routerLink="/formulario" class="default-btn4 with-icon" style="border-radius: 10rem;">
                Crear Servicio <i class="fa-solid fa-plus"></i>
            </a>
        </div>
    </div>
</div>