.wishlist-table {
    table {
        margin-bottom: 0;

        thead {
            tr {
                border-color: #eeeeee;

                th {
                    vertical-align: middle;
                    white-space: nowrap;
                    padding: 15px 25px;
                    text-align: center;
                    font: {
                        size: var(--fontSize);
                        weight: 600;
                    };
                    &:first-child {
                        text-align: start;
                    }
                }
            }
        }
        tbody {
            tr {
                border-color: #eeeeee;
                
                td {
                    font-size: var(--fontSize);
                    color: var(--titleColor);
                    vertical-align: middle;
                    white-space: nowrap;
                    text-align: center;
                    padding: {
                        top: 15px;
                        left: 25px;
                        right: 25px;
                        bottom: 15px;
                    };
                    border: {
                        color: #eeeeee;
                    };
                    &:first-child {
                        text-align: start;
                    }
                    &.product-thumbnail {
                        a {
                            display: inline-block;

                            img {
                                width: 80px;
                                padding: 10px;
                                display: inline-block;
                                background-color: #faefed;
                            }
                            h3 {
                                display: inline-block;
                                margin: {
                                    left: 15px;
                                    bottom: 0;
                                };
                                font: {
                                    family: var(--bodyFonts);
                                    weight: 500;
                                    size: 15px;
                                };
                            }
                        }
                    }
                    .remove {
                        color: red;
                        font-size: 15px;
                    }
                    &.product-quantity {
                        .input-counter {
                            max-width: 150px;
                            min-width: 150px;
                            text-align: center;
                            position: relative;
                            margin: {
                                left: auto;
                                right: auto;
                            };
                            span {
                                top: 0;
                                width: 40px;
                                height: 100%;
                                font-size: 15px;
                                cursor: pointer;
                                line-height: 50px;
                                position: absolute;
                                color: var(--bodyColor);
                                background-color: transparent;
                                transition: var(--transition);
        
                                &.minus-btn {
                                    left: 0;
                                    border-right: 1px solid #eeeeee;
                                }
                                &.plus-btn {
                                    right: 0;
                                    border-left: 1px solid #eeeeee;
                                }
                                &:hover {
                                    color: var(--mainColor);
                                }
                            }
                            input {
                                outline: 0;
                                width: 100%;
                                height: 47px;
                                display: block;
                                text-align: center;
                                color: var(--titleColor);
                                border: 1px solid #eeeeee;
                                background-color: var(--whiteColor);
                                font: {
                                    size: 17px;
                                    weight: 600;
                                }
                                &::placeholder {
                                    color: var(--titleColor);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.default-btn2 {
    position: relative;
    padding: 13px 30px;
    display: inline-block;
    color: var(--whiteColor);
    transition: var(--transition);
    background-color: var(--mainColor);
    border: 1px solid var(--mainColor);
    font: {
        size: var(--fontSize);
        weight: 400;
    };
    &.with-icon {
        padding: 12px 55px 12px 30px;

        i {
            transform: translateY(-50%);
            position: absolute;
            margin-top: 1px;
            line-height: 1;
            right: 30px;
            top: 50%;
        }
    }
    &:hover {
        background-color: var(--titleColor);
        border-color: var(--titleColor);
        color: var(--whiteColor);
    }
}

.default-btn4 {
    position: relative;
    padding: 13px 30px;
    display: inline-block;
    color: var(--whiteColor);
    transition: var(--transition);
    background-color: green;
    border: 1px solid green;
    font: {
        size: var(--fontSize);
        weight: 400;
    };
    &.with-icon {
        padding: 12px 55px 12px 30px;

        i {
            transform: translateY(-50%);
            position: absolute;
            margin-top: 1px;
            line-height: 1;
            right: 30px;
            top: 50%;
        }
    }
    &:hover {
        background-color: rgb(11, 55, 11);
        border-color: rgb(11, 55, 11);
        color: var(--whiteColor);
    }
}


.default-btn3 {
    position: relative;
    padding: 13px 30px;
    display: inline-block;
    color: var(--whiteColor);
    transition: var(--transition);
    background-color:rgb(174, 29, 29);
    border: 1px solid rgb(174, 29, 29);
    font: {
        size: var(--fontSize);
        weight: 400;
    };
    &.with-icon {
        padding: 12px 55px 12px 30px;

        i {
            transform: translateY(-50%);
            position: absolute;
            margin-top: 1px;
            line-height: 1;
            right: 30px;
            top: 50%;
        }
    }
    &:hover {
        background-color: rgb(84, 19, 19);
        border-color: rgb(84, 19, 19);
        color: var(--whiteColor);
    }
}

.thead-fixed th {
    position: sticky;
    top: 0;
    background-color: white; /* Fondo blanco para el encabezado */
    z-index: 1; /* Asegura que el encabezado esté por encima del contenido */
}

.table-responsive{
    max-height: 400px; /* Ajusta esta altura según tus necesidades */
    overflow-y: auto;
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .wishlist-table {
        table {
            thead {
                tr {
                    th {
                        font-size: 14px;
                        padding: 10px 15px
                    }
                }
            }
            tbody {
                tr {
                    td {
                        font-size: 14px;
                        padding: {
                            top: 12px;
                            left: 15px;
                            right: 15px;
                            bottom: 12px;
                        };
                        &.product-thumbnail {
                            a {
                                img {
                                    width: 80px;
                                    display: block;
                                }
                                h3 {
                                    display: block;
                                    font-size: 14px;
                                    margin: {
                                        top: 10px;
                                        left: 0;
                                    };
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .wishlist-table {
        table {
            thead {
                tr {
                    th {
                        font-size: 14px;
                    }
                }
            }
            tbody {
                tr {
                    td {
                        font-size: 15px;

                        &.product-thumbnail {
                            a {
                                h3 {
                                    display: block;
                                    font-size: 15px;
                                    margin: {
                                        left: 0;
                                        top: 12px;
                                    };
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}