<!-- Inner Banner -->
<div class="inner-banner">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-8">
                <div class="inner-title">
                    <h2>Nosotros</h2>
                    <ul>
                        <li>
                            <a routerLink="/">Inicio</a>
                        </li>
                        <li>Nosotros</li>
                    </ul>
                </div>
            </div>
            <!-- <div class="col-lg-5 col-md-4">
                <div class="inner-img">
                    <img src="assets/images/inner-banner/inner-banner1.png" alt="inner-banner" />
                </div>
            </div> -->
        </div>
    </div>
</div>

<!-- About -->
<div class="about-area pt-100 pb-75">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-item">
                    <div class="about-slider">
                        <div class="top-border"></div>
                        <div class="bottom-border"></div>
                        <owl-carousel-o [options]="imageSlides">
                            <ng-template carouselSlide>
                                <div class="about-img">
                                    <img src="assets/images/about/facialDermatologo.jpeg" alt="about-image" />
                                </div>
                            </ng-template>
                            <ng-template carouselSlide>
                                <div class="about-img">
                                    <img src="assets/images/about/MostureOil.jpeg" alt="about-image" />
                                </div>
                            </ng-template>
                            <ng-template carouselSlide>
                                <div class="about-img">
                                    <img src="assets/images/about/faciales.jpeg" alt="about-image" />
                                </div>
                            </ng-template>
                        </owl-carousel-o>
                    </div>
                    <div class="about-vector">
                        <img src="assets/images/about/about-vector.png" alt="About" />
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <div class="section-title">
                        <span class="sub-title">Nosotros</span>
                        <h2>Tu Belleza Natural, Nuestro Arte</h2>
                        <p>En Aixa Centro Integral de Bienestar y Belleza, creemos que cada persona es una obra de arte única esperando ser realzada. Nuestro equipo de expertos cosmetólogos combina pasión y experiencia para brindarte tratamientos personalizados que van más allá de lo convencional, utilizando las técnicas más innovadoras del mercado.</p>
                        <p>Hemos creado un santuario donde la belleza y el bienestar se entrelazan perfectamente. Cada espacio está diseñado para transportarte a un oasis de tranquilidad, especializándonos en tratamientos faciales, corporales y terapias holísticas que nutren tanto tu exterior como tu interior.</p>
                        <p>Tu transformación es nuestro compromiso. En Aixa, no solo te ofrecemos servicios de belleza; te brindamos un viaje personalizado hacia tu mejor versión, cuidando cada detalle para que tu experiencia sea inolvidable y los resultados excepcionales.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-intro-video></app-intro-video>

<app-appointment></app-appointment>

<app-feedback></app-feedback>

<app-staff></app-staff>