<!-- Inner Banner -->
<div class="inner-banner">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-8">
                <div class="inner-title">
                    <h2>Blog Details</h2>
                    <ul>
                        <li>
                            <a routerLink="/">Home</a>
                        </li>
                        <li>Blog Details</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5 col-md-4">
                <div class="inner-img">
                    <img src="assets/images/inner-banner/inner-banner4.png" alt="inner-banner" />
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Blog Details -->
<div class="blog-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="blog-details-content">
                    <img src="assets/images/blog/blog-details.jpg" alt="blog-details" />
                    <ul class="meta">
                        <li>
                            <i class="flaticon-058-user"></i>
                            <a routerLink="/blog-grid">Admin</a>
                        </li>
                        <li>
                            <i class="flaticon-047-calendar-1"></i>
                            Oct 14, 2023
                        </li>
                    </ul>
                    <h3>Happy Hands Nail Polish And Exclusive Collection</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in sed quia non numquam eius modi tempora incidunt ut labore et dolore.Sed do eiusmod tempor incididunt ut labore et dolore,magna aliqua. Ut enim ad minim, incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in sed quia non numquam eiu.</p>
                    <blockquote> 
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                    </blockquote>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in sed quia non numquam eius modi tempora incidunt ut labore et dolore.Sed do eiusmod tempor incididunt ut labore et dolore,magna aliqua. Ut enim ad minim, incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in sed quia non numquam eius.</p>
                    <h3>Facial Scrub is Natural Care</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in sed quia non numquam eius.</p>
                    <ul>
                        <li>Duis quis odio quis dui sagittis laoreet.</li>
                        <li>Suspendisse tempus felis a libero mollis ultrices.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        <li>Suspendisse tempus felis a libero mollis ultrices.</li>
                        <li>Proin sit amet diam et elit dictum sodales.</li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in sed quia non numquam eius modi tempora incidunt ut labore et dolore.Sed do eiusmod tempor incididunt ut labore et dolore,magna aliqua. Ut enim ad minim, incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                    <div class="blog-comments-area">
                        <div class="comments-wrap">
                            <h3>03 Comments</h3>
                            <ul class="comment-form">
                                <li>
                                    <img src="assets/images/blog/blog-user.jpg" alt="user">
                                    <h3>Robert John</h3>
                                    <span>October 19, 2023 AT 06:30 PM</span>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor ncididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis </p>
                                </li>
                                <li class="pl-80">
                                    <img src="assets/images/blog/blog-user2.jpg" alt="user">
                                    <h3>Christine Hill</h3>
                                    <span>October 18, 2023 AT 06:30 PM</span>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor ncididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis </p>
                                </li>
                                <li>
                                    <img src="assets/images/blog/blog-user3.jpg" alt="user">
                                    <h3>Rosalina D. William</h3>
                                    <span>October 17, 2023 AT 06:30 PM</span>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor ncididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis </p>
                                </li>
                            </ul>
                        </div>
                        <div class="comments-form">
                            <h3>Leave A Reply</h3>
                            <p>Your email address will not be published. Required fields are marked *</p>
                            <form>
                                <div class="row">
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="form-group">
                                            <input type="text" name="name" id="name" class="form-control" placeholder="Your Name">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="form-group">
                                            <input type="email" name="email" id="email" class="form-control" placeholder="Your Email">
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group">
                                            <textarea name="message" class="form-control" id="message" cols="30" rows="8" placeholder="Comment..."></textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="me">
                                            <label class="form-check-label" for="me">Save my info for the next comment</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12">
                                        <button type="submit" class="default-btn">
                                            Post A Comment
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="sidebar-area">
                    <app-widget-sidebar></app-widget-sidebar>
                </div>
            </div>
        </div>
    </div>
</div>