<div class="banner-area">
    <div class="container-fluid" style="padding: 4rem;">
        <div
            class="row align-items-center"
            *ngFor="let content of bannerContent"
        >
            <div class="col-lg-6 col-md-12">
                <div class="banner-content">
                    <span class="sub-title">{{content.subtitle}}</span>
                    <h1>{{content.title}}</h1>
                    <p>{{content.paragraph}}</p>
                    <a routerLink="{{content.buttonLink}}" class="default-btn with-icon">
                        {{content.buttonText}} <i class="flaticon-030-next"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="banner-image">
                    <div class="woman">
                        <!-- <img [src]="content.image" alt="banner-image" />  -->
                        <div class="vector1">
                            <img src="assets/images/home-two/vector2.png" alt="vector" />
                        </div>
                        <div class="vector2">
                            <img src="assets/images/home-two/vector3.png" alt="vector" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-vector">
        <img src="assets/images/home-two/vector1.png" alt="vector" />
    </div>
</div>