.banner-area {
    background-color: #efcec9;
    position: relative;
    overflow: hidden;
    z-index: 1;

    .container-fluid {
        padding: {
            left: 50px;
            right: 50px;
        };
    }
}
.banner-content {
    max-width: 620px;
    
    .sub-title {
        color: var(--mainColor);
        margin-bottom: 5px;
        display: block;
    }
    h1 {
        font-size: 70px;
        margin-bottom: 20px;
    }
    .default-btn {
        margin-top: 10px;
    }
}
.banner-image {
    position: relative;
    padding-top: 100px;
    margin-right: 80px;
    
    .woman {
        position: relative;
        z-index: 1;

        .vector1 {
            position: absolute;
            z-index: -1;
            top: -130px;
            left: -50px;

            img {
                max-width: 415px;
                animation: moveleftbounce 9s linear infinite;
            }
        }
        .vector2 {
            position: absolute;
            bottom: 70px;
            z-index: -1;
            right: 0;

            img {
                max-width: 215px;
                animation: movebounce 9s linear infinite;
            }
        }
    }
}
.banner-vector {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;

    img {
        animation: movebounce 5s linear infinite;
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .banner-area {
        padding-top: 60px;

        .container-fluid {
            padding: {
                left: var(--bs-gutter-x, .75rem);
                right: var(--bs-gutter-x, .75rem);
            };
        }
    }
    .banner-content {
        max-width: 100%;
        text-align: center;
        
        .sub-title {
            margin-bottom: 5px;
        }
        h1 {
            font-size: 32px;
            margin-bottom: 10px;
        }
        .default-btn {
            margin-top: 0;
        }
    }
    .banner-image {
        padding-top: 25px;
        margin-right: 0;
    
        .vector1 {
            display: none;
        }
        .vector2 {
            display: none;
        }
    }
    .banner-vector {
        display: none;
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

    .banner-area {
        .container-fluid {
            max-width: 540px;
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .banner-area {
        padding-top: 80px;

        .container-fluid {
            max-width: 720px;
            padding: {
                left: var(--bs-gutter-x, .75rem);
                right: var(--bs-gutter-x, .75rem);
            };
        }
    }
    .banner-content {
        max-width: 100%;
        text-align: center;
        
        .sub-title {
            margin-bottom: 5px;
        }
        h1 {
            font-size: 42px;
            margin-bottom: 15px;
        }
        p {
            max-width: 540px;
            margin: {
                left: auto;
                right: auto;
            };
        }
        .default-btn {
            margin-top: 0;
        }
    }
    .banner-image {
        padding-top: 25px;
        margin-right: 0;
    
        .woman {
            .vector1 {
                display: none;
            }
            .vector2 {
                display: none;
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .banner-area {
        .container-fluid {
            max-width: 960px;
            padding: {
                left: var(--bs-gutter-x, .75rem);
                right: var(--bs-gutter-x, .75rem);
            };
        }
    }
    .banner-content {
        max-width: 100%;
        
        h1 {
            font-size: 50px;
            margin-bottom: 15px;
        }
        .default-btn {
            margin-top: 0;
        }
    }
    .banner-image {
        padding-top: 70px;
        margin-right: 0;
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .banner-area {
        .container-fluid {
            padding: {
                left: 30px;
                right: 30px;
            };
        }
    }
    .banner-content {
        max-width: 100%;
        
        h1 {
            font-size: 60px;
        }
    }
    .banner-image {
        margin-right: 0;
    }

}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {

    .banner-area {
        .container-fluid {
            max-width: 1640px;
            padding: {
                left: var(--bs-gutter-x, .75rem);
                right: var(--bs-gutter-x, .75rem);
            };
        }
    }
    .banner-content {
        max-width: 100%;

        h1 {
            font-size: 85px;
        }
        p {
            max-width: 620px;
        }
    }
    .banner-image {
        margin-right: 0;

        .woman {
            .vector1 {
                img {
                    max-width: 100%;
                }
            }
            .vector2 {
                bottom: 110px;
                right: -20px;

                img {
                    max-width: 100%;
                }
            }
        }
    }

}