<div class="search-widget">
    <form class="search-form">
        <input type="search" class="form-control" placeholder="Search By Keywords">
        <button type="submit">
            <i class="flaticon-035-magnifying-glass"></i>
        </button>
    </form>
</div>
<div class="sidebar-widget">
    <h3>Popular Categories</h3>
    <ul class="sidebar-categories">
        <li>
            <a routerLink="/blog-grid" target="_blank">
                <i class="ri-arrow-right-s-line"></i>
                Massage Therapy <span>(18)</span>
            </a>
        </li>
        <li>
            <a routerLink="/blog-grid" target="_blank">
                <i class="ri-arrow-right-s-line"></i>
                Aroma Therapy <span>(35)</span>
            </a>
        </li>
        <li>
            <a routerLink="/blog-grid" target="_blank">
                <i class="ri-arrow-right-s-line"></i>
                Oil Therapy <span>(54)</span>
            </a>
        </li>
        <li>
            <a routerLink="/blog-grid" target="_blank">
                <i class="ri-arrow-right-s-line"></i>
                Salt Therapy <span>(25)</span>
            </a>
        </li>
        <li>
            <a routerLink="/blog-grid" target="_blank">
                <i class="ri-arrow-right-s-line"></i>
                Revive with Rose <span>(18)</span>
            </a>
        </li>
        <li>
            <a routerLink="/blog-grid" target="_blank">
                <i class="ri-arrow-right-s-line"></i>
                Organic Therapy <span>(45)</span>
            </a>
        </li>
    </ul>
</div>
<div class="sidebar-widget">
    <h3>Recent Posts</h3>
    <div class="widget-popular-post">
        <article class="item">
            <a routerLink="/blog-details" class="thumb">
                <span class="full-image cover" style="background-image: url(assets/images/blog/blog-img1.jpg);" role="img"></span>
            </a>
            <div class="info">
                <p>Oct 12, 2023</p>
                <h4>
                    <a routerLink="/blog-details">
                        Happy Hands Nail Polish And Exclusive Collection
                    </a>
                </h4>
            </div>
        </article>
        <article class="item">
            <a routerLink="/blog-details" class="thumb">
                <span class="full-image cover" style="background-image: url(assets/images/blog/blog-img2.jpg);" role="img"></span>
            </a>
            <div class="info">
                <p>Oct 14, 2023</p>
                <h4>
                    <a routerLink="/blog-details">
                        Why You Should Use Non-Toxic Nail Polish
                    </a>
                </h4>
            </div>
        </article>
        <article class="item">
            <a routerLink="/blog-details" class="thumb">
                <span class="full-image cover" style="background-image: url(assets/images/blog/blog-img3.jpg);" role="img"></span>
            </a>
            <div class="info">
                <p>Oct 17, 2023</p>
                <h4>
                    <a routerLink="/blog-details">
                        How To Nourish And Protect Your Nails
                    </a>
                </h4>
            </div>
        </article>
    </div>
</div>
<div class="sidebar-widget">
    <h3>Popular Tags</h3>
    <ul class="sidebar-widget-tag">
        <li><a routerLink="/blog-grid">Massage </a></li>
        <li><a routerLink="/blog-grid">Sauna</a></li>
        <li><a routerLink="/blog-grid">Therapy</a></li>
        <li><a routerLink="/blog-grid">Relax</a></li>
        <li><a routerLink="/blog-grid">Hot Stone</a></li>
        <li><a routerLink="/blog-grid">Red Nail</a></li>
        <li><a routerLink="/blog-grid">Spa</a></li>
        <li><a routerLink="/blog-grid">Curly Hair</a></li>
    </ul>
</div>