<!-- Inner Banner -->
<div class="inner-banner">
    <div class="container-fluid">
        <div
            class="row align-items-center"
            *ngFor="let title of pageTitle"
        >
            <div class="col-lg-7 col-md-8">
                <div class="inner-title">
                    <h2>{{title.title}}</h2>
                    <ul>
                        <li>
                            <a routerLink="/">Home</a>
                        </li>
                        <li>{{title.title}}</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5 col-md-4">
                <div class="inner-img">
                    <img [src]="title.img" alt="inner-banner" />
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Team -->
<div class="team-area pt-100 pb-75">
    <div class="container">
        <div class="row justify-content-center">
            <div
                class="col-lg-4 col-md-6 col-sm-6"
                *ngFor="let content of teamContent"
            >
                <div class="team-card">
                    <div class="team-img">
                        <a routerLink="{{content.detailsLink}}" class="d-block">
                            <img [src]="content.image" alt="team-image" />
                        </a>
                        <ul class="social-links-btn">
                            <li class="share-btn">
                                <i class="flaticon-040-right-arrow"></i>
                            </li>
                            <li *ngFor="let item of content.socials">
                                <a href="{{item.link}}" target="_blank">
                                    <i class="{{item.icon}}"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="content">
                        <h3>
                            <a routerLink="{{content.detailsLink}}">
                                {{content.name}}
                            </a>
                        </h3>
                        <span>{{content.designation}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>