<!-- Default Section -->
<div
    class="instagram-area ptb-100"
    [ngClass]="{'d-none': router.url === '/index-2' || router.url === '/gallery-2'}"
>
    <div class="container-fluid p-0">
        <div class="instagram-width">
            <div class="follow-area">
                <a href="https://www.instagram.com/?hl=en" target="_blank" class="follow-btn">
                    <i class="ri-instagram-line"></i>
                </a>
                <h3>Follow Our Instagram</h3>
            </div>
            <div class="row m-0">
                <div class="col-lg-3 col-6 p-0">
                    <div class="instagram-img">
                        <img src="assets/images/gallery/gallery-img1.jpg" alt="instagram" />
                    </div>
                </div>
                <div class="col-lg-3 col-6 p-0">
                    <div class="instagram-img">
                        <img src="assets/images/gallery/gallery-img2.jpg" alt="instagram" />
                    </div>
                </div>
                <div class="col-lg-3 col-6 p-0">
                    <div class="instagram-img">
                        <img src="assets/images/gallery/gallery-img3.jpg" alt="instagram" />
                    </div>
                </div>
                <div class="col-lg-3 col-6 p-0">
                    <div class="instagram-img">
                        <img src="assets/images/gallery/gallery-img4.jpg" alt="instagram" />
                    </div>
                </div>
                <div class="col-lg-3 col-6 p-0">
                    <div class="instagram-img">
                        <img src="assets/images/gallery/gallery-img5.jpg" alt="instagram" />
                    </div>
                </div>
                <div class="col-lg-3 col-6 p-0">
                    <div class="instagram-img">
                        <img src="assets/images/gallery/gallery-img6.jpg" alt="instagram" />
                    </div>
                </div>
                <div class="col-lg-3 col-6 p-0">
                    <div class="instagram-img">
                        <img src="assets/images/gallery/gallery-img7.jpg" alt="instagram" />
                    </div>
                </div>
                <div class="col-lg-3 col-6 p-0">
                    <div class="instagram-img">
                        <img src="assets/images/gallery/gallery-img8.jpg" alt="instagram" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Section for home Demo - 2 -->
<div
    class="instagram-area pt-100 pb-75 d-none"
    [ngClass]="{'d-block': router.url === '/index-2' || router.url === '/gallery-2'}"
>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="instagram-content">
                    <div class="title">
                        <h2>Siguenos en<a href="#" target="_blank">Instagram</a></h2>
                    </div>
                    <div class="instagram-all-img">
                        <div class="img">
                            <img src="assets/images/gallery/Masaje.jpeg" alt="instagram" />
                            <div class="follow-btn-area">
                                <a href="https://www.instagram.com/?hl=en" target="_blank" class="follow-btn">
                                    <i class="ri-instagram-line"></i>
                                </a>
                            </div>
                        </div>
                        <div class="img2">
                            <img src="assets/images/gallery/limpiezaFacial.jpeg" alt="Gallery" />
                        </div>
                        <div class="img3">
                            <img src="assets/images/gallery/dientes.jpeg" alt="instagram" />
                        </div>
                        <div class="vector-img">
                            <img src="assets/images/gallery/vector-img2.png" alt="instagram" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="instagram-all-img-two">
                    <div class="img">
                        <img src="assets/images/gallery/fondoPrincipal.jpeg" alt="instagram" />
                        <div class="follow-btn-area">
                            <a href="https://www.instagram.com/aixa.cibb/" target="_blank" class="follow-btn">
                                <i class="ri-instagram-line"></i>
                            </a>
                        </div>
                    </div>
                    <div class="img2">
                        <img src="assets/images/gallery/masaje2.jpeg" alt="instagram" />
                    </div>
                    <div class="img3">
                        <img src="assets/images/gallery/faciales.jpeg" alt="instagram" />
                    </div>
                    <div class="vector-img">
                        <img src="assets/images/gallery/vector-img.png" alt="instagram" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>