<div class="banner-area">
    <div class="container-fluid">
        <div
            class="row align-items-center"
            *ngFor="let content of bannerContent"
        >
            <div class="col-lg-6 col-md-12">
                <div class="banner-content">
                    <span class="sub-title">{{content.subtitle}}</span>
                    <h1 style="color: white;">{{content.title}}</h1>
                    <p style="color: white;">{{content.paragraph}}</p>
                    <a routerLink="{{content.buttonLink}}" class="default-btn with-icon">
                        {{content.buttonText}} <i class="flaticon-030-next"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="banner-image">
                    <div class="woman">
                        <img [src]="content.img1" alt="banner-image" /> 
                        <div class="vector">
                            <img [src]="content.img2" alt="vector" />
                        </div>
                    </div>
                    <div class="nail-img"> 
                        <img [src]="content.img3" alt="nail" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>