<div class="banner-slider">
    <owl-carousel-o [options]="bannerSlides">
        <ng-template
            carouselSlide
            *ngFor="let content of bannerContent"
        >
            <div
                class="banner-item"
                style="background-image: url({{content.bgImage}});"
            >
                <div class="container-fluid">
                    <div class="banner-content">
                        <span class="sub-title">{{content.subtitle}}</span>
                        <h1>{{content.title}}</h1>
                        <p>{{content.paragraph}}</p>
                        <a routerLink="{{content.buttonLink}}" class="default-btn with-icon">
                            {{content.buttonText}} <i class="flaticon-030-next"></i>
                        </a>
                    </div>
                </div>
            </div>
        </ng-template>
    </owl-carousel-o>
</div>