<!-- Inner Banner -->
<div class="inner-banner">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-8">
                <div class="inner-title">
                    <h2>Wishlist</h2>
                    <ul>
                        <li>
                            <a routerLink="/">Home</a>
                        </li>
                        <li>Wishlist</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5 col-md-4">
                <div class="inner-img">
                    <img src="assets/images/inner-banner/inner-banner9.png" alt="inner-banner" />
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Wishlist -->
<div class="wishlist-area ptb-100">
    <div class="container">
        <form>
            <div class="wishlist-table table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">In Stock</th>
                            <th scope="col">Price</th>
                            <th scope="col">Total</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="product-thumbnail">
                                <a routerLink="/product-details">
                                    <img src="assets/images/products/product-img1.png" alt="product-image">
                                    <h3>Nail Care Tools</h3>
                                </a>
                            </td>
                            <td>In Stock</td>
                            <td>$20.00</td>
                            <td>$20.00</td>
                            <td>
                                <a routerLink="/wishlist" class="default-btn with-icon">
                                    Add to Cart <i class="flaticon-034-shopping-cart"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="product-thumbnail">
                                <a routerLink="/product-details">
                                    <img src="assets/images/products/product-img2.png" alt="product-image">
                                    <h3>Nail Nourshing Oil</h3>
                                </a>
                            </td>
                            <td>In Stock</td>
                            <td>$99.00</td>
                            <td>$99.00</td>
                            <td>
                                <a routerLink="/wishlist" class="default-btn with-icon">
                                    Add to Cart <i class="flaticon-034-shopping-cart"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="product-thumbnail">
                                <a routerLink="/product-details">
                                    <img src="assets/images/products/product-img10.png" alt="product-image">
                                    <h3>Glitter Nail Polish</h3>
                                </a>
                            </td>
                            <td>In Stock</td>
                            <td>$24.00</td>
                            <td>$24.00</td>
                            <td>
                                <a routerLink="/wishlist" class="default-btn with-icon">
                                    Add to Cart <i class="flaticon-034-shopping-cart"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="product-thumbnail">
                                <a routerLink="/product-details">
                                    <img src="assets/images/products/product-img11.png" alt="product-image">
                                    <h3>Nail Care Clipper</h3>
                                </a>
                            </td>
                            <td>In Stock</td>
                            <td>$22.00</td>
                            <td>$22.00</td>
                            <td>
                                <a routerLink="/wishlist" class="default-btn with-icon">
                                    Add to Cart <i class="flaticon-034-shopping-cart"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>