<div class="top-header-area">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-8 col-md-12">
                <ul class="top-header-info">
                    <li>
                        <i class="flaticon-195-envelope"></i>
                        <a href="mailto:hello@ohix.com">hello@ohix.com</a>
                    </li>
                    <li>
                        <i class="flaticon-020-phone-call"></i>
                        <a href="tel:+123-456-778">+123 456 778</a>
                    </li>
                    <li>
                        <i class="flaticon-048-clock"></i>
                        Everyday 7 AM to 7 PM Sunday Off
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-12">
                <ul class="social-links">
                    <li>
                        <a href="https://www.facebook.com/" target="_blank">
                            <i class="flaticon-001-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/" target="_blank">
                            <i class="flaticon-003-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/" target="_blank">
                            <i class="flaticon-016-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://vimeo.com/" target="_blank">
                            <i class="flaticon-006-vimeo"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>