<div class="top-header-area">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-8 col-md-12">
                <ul class="top-header-info">
                    <li>
                        <i class="flaticon-195-envelope"></i>
                        <a href="mailto:yessica.barradas@hotmail.com">yessica.barradas@hotmail.com</a>
                    </li>
                    <li>
                        <i class="flaticon-020-phone-call"></i>
                        <a href="tel:+123-456-778">+229 901 2681</a>
                    </li>
                    <li>
                        <i class="flaticon-048-clock"></i>
                        Atención de Lunes a Viernes de 7:00AM a 5:00PM
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-12">
                <ul class="social-links">
                    <li>
                        <a href="https://wa.me/2299012681?text=Hola%21%20Me%20gustar%C3%ADa%20m%C3%A1s%20informaci%C3%B3n..." target="_blank">
                            <i class="flaticon-010-whatsapp"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/aixacibb/?locale=es_LA" target="_blank">
                            <i class="flaticon-001-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/aixa.cibb/" target="_blank">
                            <i class="flaticon-002-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.google.com/maps/dir//C.+Isabel+La+Cat%C3%B3lica+1251,+Reforma,+91919+Veracruz,+Ver./@19.16688,-96.1302793,20.54z/data=!4m9!4m8!1m0!1m5!1m1!1s0x85c3413867f3c2b7:0x2bf1f2f421f8c1c1!2m2!1d-96.1302578!2d19.1667867!3e0?entry=ttu&g_ep=EgoyMDI0MTAxNi4wIKXMDSoASAFQAw%3D%3D" target="_blank">
                            <i class="flaticon-025-placeholder"></i>
                        </a>
                    </li>
                    <!--<li>
                        <a href="https://www.linkedin.com/" target="_blank">
                            <i class="flaticon-016-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://vimeo.com/" target="_blank">
                            <i class="flaticon-006-vimeo"></i>
                        </a>
                    </li>-->
                </ul>
            </div>
        </div>
    </div>
</div>