<!-- Footer -->
<footer class="footer-area footer-bg pt-100 pb-75">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <!--<div class="footer-widget pe-2">
                    <h3>Our Newsletter</h3>
                    <form class="newsletter-form">
                        <input type="email" class="form-control" placeholder="Enter Your Email Address" name="email" required autocomplete="off">
                        <button class="subscribe-btn" type="submit">
                            Subscribe Now <i class="flaticon-201-paper-plane-1"></i>
                        </button>
                        <p>Entering your email secure - we don't share your email with any third party.</p>
                    </form>
                </div>-->
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget ps-5">
                    <h3>Nuestro horario</h3>
                    <ul class="salon-hours">
                        <li>
                            <h3>Monday - Wednesday</h3>
                            <span>09:00 AM - 10:00 PM</span>
                        </li>
                        <li>
                            <h3>Thursday - Saturday</h3>
                            <span>10:00 AM - 08:00 PM</span>
                        </li>
                        <li>
                            <h3>Sunday</h3>
                            <span>Cerrado</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget">
                    <h3>Contáctanos</h3>
                    <ul class="footer-contact">
                        <li>
                            <i class="flaticon-020-phone-call"></i>
                            <h4>WhatsApp</h4>
                            <span><a href="tel:+123456778" target="_blank">+229 901 2681</a></span>
                        </li>
                        <li>
                            <i class="flaticon-195-envelope"></i>
                            <h4>Correo:</h4>
                            <span><a href="mailto:yessica.barradas@hotmail.com" target="_blank">yessica.barradas@hotmail.com</a></span>
                        </li>
                        <li>
                            <i class="flaticon-025-placeholder"></i>
                            <h4>Dirección</h4>
                            <span>Isabel la Católica #1251-A 91919 Veracruz, México</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget">
                    <a routerLink="/" class="footer-logo">
                        <img src="assets/images/gallery/aisaLogo.png" alt="logo">
                    </a>
                    <p>Pellent esque habi tant morbi tris tique senectus netus male suada fames ac turpis ege stas vesti ulum tortam.</p>
                    <ul class="social-link">
                        <li>
                            <a href="https://www.facebook.com/" target="_blank">
                                <i class="ri-facebook-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/" target="_blank">
                                <i class="ri-twitter-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/" target="_blank">
                                <i class="ri-linkedin-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://vimeo.com/" target="_blank">
                                <i class="ri-vimeo-fill"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Copyright -->
<div class="copyright-area">
    <div class="container">
        <p>© Ohix is Proudly Owned by <a href="https://hibootstrap.com/" target="_blank">HiBootstrap</a></p>
    </div>
</div>