<footer class="text-center bg-body-tertiary">
    <!-- Grid container -->
    <div class="container pt-4">
      <!-- Section: Social media -->
      <section class="mb-4">
  
        <!-- WhatsApp -->
        <a
          data-mdb-ripple-init
          class="btn btn-link btn-floating btn-lg text-body m-1"
          href="https://wa.me/2299012681?text=Hola%21%20Me%20gustar%C3%ADa%20m%C3%A1s%20informaci%C3%B3n..."
          role="button"
          data-mdb-ripple-color="dark"
          target="_blank"
          ><i class="flaticon-010-whatsapp"></i
        ></a>
  
        <!-- Facebook -->
        <a
          data-mdb-ripple-init
          class="btn btn-link btn-floating btn-lg text-body m-1"
          href="https://www.facebook.com/aixacibb/?locale=es_LA"
          role="button"
          data-mdb-ripple-color="dark"
          target="_blank"
          ><i class="flaticon-001-facebook"></i
        ></a>

        <!-- Instagram -->
        <a
          data-mdb-ripple-init
          class="btn btn-link btn-floating btn-lg text-body m-1"
          href="https://www.instagram.com/aixa.cibb/"
          role="button"
          data-mdb-ripple-color="dark"
          target="_blank"
          ><i class="flaticon-002-instagram"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3">
      © 2024 Copyright: E4
    </div>
    <!-- Copyright -->
  </footer>