<!-- Inner Banner -->
<div class="inner-banner">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-8">
                <div class="inner-title">
                    <h2>Blog Left Sidebar</h2>
                    <ul>
                        <li>
                            <a routerLink="/">Home</a>
                        </li>
                        <li>Blog Left Sidebar</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5 col-md-4">
                <div class="inner-img">
                    <img src="assets/images/inner-banner/inner-banner1.png" alt="inner-banner" />
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Blog -->
<div class="blog-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="sidebar-area">
                    <app-widget-sidebar></app-widget-sidebar>
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div
                        class="col-lg-6 col-md-6 col-sm-6"
                        *ngFor="let content of blogCard | paginate: { itemsPerPage: 6, currentPage }"
                    >
                        <div class="blog-card box-shadow">
                            <a routerLink="{{content.detailsLink}}" class="img">
                                <img [src]="content.image" alt="blog-image" />
                            </a>
                            <div class="content">
                                <ul class="meta">
                                    <li>
                                        <i class="flaticon-058-user"></i>
                                        <a routerLink="/blog-grid">{{content.author}}</a>
                                    </li>
                                    <li>
                                        <i class="flaticon-047-calendar-1"></i>
                                        {{content.date}}
                                    </li>
                                </ul>
                                <h3><a routerLink="{{content.detailsLink}}">
                                    {{content.title}}
                                </a></h3>
                                <a routerLink="{{content.detailsLink}}" class="default-btn with-icon">
                                    Read More <i class="flaticon-040-right-arrow"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-sm-12">
                        <div class="pagination-area">
                            <pagination-controls previousLabel="" nextLabel="" (pageChange)="onPageChange($event)"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>