<!-- Inner Banner -->
<div class="inner-banner">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-8">
                <div class="inner-title">
                    <h2>Contact Us</h2>
                    <ul>
                        <li>
                            <a routerLink="/">home</a>
                        </li>
                        <li>Contact Us</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5 col-md-4">
                <div class="inner-img">
                    <img src="assets/images/inner-banner/inner-banner5.png" alt="inner-banner" />
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Contact Info -->
<div class="contact-information-area pt-100 pb-75">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6">
                <div class="contact-info-card">
                    <i class="flaticon-195-envelope"></i>
                    <h3>Nuestro Correo</h3>
                    <p style="font-size: 1.2rem;"><a href="mailto:yessica.barradas@hotmail.com">yessica.barradas@hotmail.com</a></p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="contact-info-card">
                    <i class="flaticon-020-phone-call"></i>
                    <h3>WhatsApp</h3>
                    <p style="font-size: 1.7rem;"><a href="tel:+229 901 2681">+229 901 2681</a></p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="contact-info-card">
                    <i class="flaticon-025-placeholder"></i>
                    <h3>¡Visítanos!</h3>
                    <p>Isabel la Católica #1251-A 91919 Veracruz, Mexico</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Contact -->
<div class="contact-widget-area pb-100">
    <div class="container">
        <div class="section-title text-center">
            <h2>¿Tienes dudas? ¡Escríbenos!</h2>
        </div>
        <div class="contact-form">
            <form>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Nombre">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Correo">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Celular">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Asunto">
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <textarea class="form-control" cols="30" rows="7" placeholder="Escríbe tu duda o comentario"></textarea>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="me">
                            <label class="form-check-label" for="me">Acepto Terminos & Condiciones Y <a routerLink="/privacy-policy">Política de Privacidad.</a></label>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <button type="submit" class="default-btn">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>