<!-- Inner Banner -->
<div class="inner-banner">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-8">
                <div class="inner-title">
                    <h2>Escríbenos...</h2>
                    <ul>
                        <li>
                            <a routerLink="/">Inicio</a>
                        </li>
                        <li>Contacto</li>
                    </ul>
                </div>
            </div>
            <!-- <div class="col-lg-5 col-md-4">
                <div class="inner-img">
                    <img src="assets/images/inner-banner/inner-banner5.png" alt="inner-banner" />
                </div>
            </div> -->
        </div>
    </div>
</div>

<!-- Contact Info -->
<div class="contact-information-area pt-100 pb-75">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6">
                <div class="contact-info-card">
                    <a href="mailto:yessica.barradas@hotmail.com">
                        <i class="flaticon-195-envelope"></i>
                    </a>
                    <h3>Nuestro Correo</h3>
                    <p style="font-size: 1.65rem;">
                        <a href="mailto:yessica.barradas@hotmail.com" style="font-size: 0.9rem;">yessica.barradas@hotmail.com</a>
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="contact-info-card">
                    <a href="https://api.whatsapp.com/send/?phone=2299012681&text=Hola%21+Me+gustar%C3%ADa+m%C3%A1s+informaci%C3%B3n...&type=phone_number&app_absent=0" target="_blank">
                        <i class="flaticon-020-phone-call"></i>
                    </a>
                    <h3>WhatsApp</h3>
                    <p style="font-size: 1.65rem;"><a href="https://api.whatsapp.com/send/?phone=2299012681&text=Hola%21+Me+gustar%C3%ADa+m%C3%A1s+informaci%C3%B3n...&type=phone_number&app_absent=0" target="_blank">+229 901 2681</a></p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="contact-info-card">
                    <a href="https://www.google.com/maps/dir//C.+Isabel+La+Cat%C3%B3lica+1251,+Reforma,+91919+Veracruz,+Ver./@19.16688,-96.1302793,20.54z/data=!4m9!4m8!1m0!1m5!1m1!1s0x85c3413867f3c2b7:0x2bf1f2f421f8c1c1!2m2!1d-96.1302578!2d19.1667867!3e0?entry=ttu&g_ep=EgoyMDI0MTAxNi4wIKXMDSoASAFQAw%3D%3D" target="_blank">
                        <i class="flaticon-025-placeholder"></i>
                    </a>
                    <h3>¡Visítanos!</h3>
                    <a href="https://www.google.com/maps/dir//C.+Isabel+La+Cat%C3%B3lica+1251,+Reforma,+91919+Veracruz,+Ver./@19.16688,-96.1302793,20.54z/data=!4m9!4m8!1m0!1m5!1m1!1s0x85c3413867f3c2b7:0x2bf1f2f421f8c1c1!2m2!1d-96.1302578!2d19.1667867!3e0?entry=ttu&g_ep=EgoyMDI0MTAxNi4wIKXMDSoASAFQAw%3D%3D" target="_blank" style="font-size: 1rem;">Isabel la Católica #1251-A 91919 Veracruz, Mexico</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Contact -->
<div class="contact-widget-area pb-100" style="background-color: #f2f6f9; padding-top: 4rem;">
    <div class="container">
        <div class="section-title text-center">
            <h2>¿Tienes dudas? ¡Escríbenos!</h2>
        </div>
        <div class="contact-form">
            <form [formGroup]="formCorreo" (ngSubmit)="mandarFormulario()">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <input type="text" formControlName="name" class="form-control" placeholder="Nombre" style="background-color: #00a2a228;">
                            <div *ngIf="formCorreo.get('name')?.invalid && formCorreo.get('name')?.touched" class="text-danger">
                                Nombre es requerido.
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <input type="email" formControlName="email" class="form-control" placeholder="Correo" style="background-color: #00a2a228;">
                            <div *ngIf="formCorreo.get('email')?.invalid && formCorreo.get('email')?.touched" class="text-danger">
                                Correo es requerido y debe ser un correo válido.
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <input type="text" formControlName="tel" class="form-control" placeholder="Celular" style="background-color: #00a2a228;">
                            <div *ngIf="formCorreo.get('tel')?.invalid && formCorreo.get('tel')?.touched" class="text-danger">
                                Celular es requerido.
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <input type="text" formControlName="asunto" class="form-control" placeholder="Asunto" style="background-color: #00a2a228;">
                            <div *ngIf="formCorreo.get('asunto')?.invalid && formCorreo.get('asunto')?.touched" class="text-danger">
                                Asunto es requerido.
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <textarea formControlName="message" class="form-control" cols="30" rows="7" placeholder="Escríbe tu duda o comentario" style="background-color: #00a2a228;"></textarea>
                            <div *ngIf="formCorreo.get('message')?.invalid && formCorreo.get('message')?.touched" class="text-danger">
                                Mensaje es requerido.
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="d-flex align-items-center">
                            <button  type="submit" class="default-btn d-flex align-items-center">
                                Enviar
                                <div *ngIf="EnviarCorreo" class="spinner-border spinner-border-sm ms-2" role="status">
                                    <span class="sr-only"></span>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<section>
    <div class="container-fluid px-0">
        <div class="row g-0">
            <div class="col-lg-12">
                <div class="map">
                    <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d3024.4645962375394!2d-74.01354043428768!3d40.7077878458095!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sSoHo%2094%20Broadway%20St%20New%20York%2C%20NY%201001!5e0!3m2!1sen!2sin!4v1669110084163!5m2!1sen!2sin" class="w-100" height="400" style="border: 0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3768.6523242042663!2d-96.13022034410754!3d19.16669032053871!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85c3413867907381%3A0x9a90e61920a8a05c!2sC.%20Isabel%20La%20Cat%C3%B3lica%201251a%2C%20Reforma%2C%2091919%20Veracruz%2C%20Ver.!5e0!3m2!1ses-419!2smx!4v1729721732180!5m2!1ses-419!2smx" class="w-100" height="400" style="border: 0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>